Repository PtCookie/DevLog-Legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix, prettier --write, stylelint --fix

chore(deps): Bump Next.js to v13.1.1
  package.json
  yarn.lock
Due: prettier --write

ci(actions): Add GitHub Actions
  .github/dependabot.yml
  .github/workflows/test_lib.yml
Due: prettier --write

build(node): Bump Node.js to 18-lts
  .tool-versions
  package.json
Due: prettier --write

ci(actions): Add environment variable
  .github/workflows/test_lib.yml
Due: prettier --write

ci(lint-staged): Fix lint-staged config
  .lintstagedrc.yml
Due: prettier --write

refactor(style): Icon size
  components/SocialAccounts.tsx
  components/ThemeSwitch.tsx
Due: next lint --fix, prettier --write

feat(component): Theme context
  components/Navigation.tsx
  components/ThemeSwitch.tsx
  components/context/ThemeProvider.tsx
  components/layout/DefaultLayout.tsx
  components/layout/PostLayout.tsx
  pages/_app.tsx
Due: next lint --fix, prettier --write

chore(version): Version 1.0.4
  package.json
Due: prettier --write

test(e2e): Add Playwright
  .github/workflows/mocha.yml
  .github/workflows/playwright.yml
  .gitignore
  .mocharc.yml
  README.md
  package.json
  playwright.config.ts
  tests/e2e/homepage.spec.ts
  tests/unit/pagination.spec.ts
  tests/unit/posts.spec.ts
  yarn.lock
Due: next lint --fix, prettier --write

ci(actions): Add environment variable
  .github/workflows/playwright.yml
Due: prettier --write

feat(page): Error page
  pages/_error.tsx
  playwright.config.ts
  styles/Error.module.css
Due: next lint --fix, prettier --write, stylelint --fix

ci(actions): Test condition
  .github/workflows/mocha.yml
  .github/workflows/playwright.yml
Due: prettier --write

ci(vercel): Build script
  build.sh
Due: none

fix(deps): Font subsets
  lib/fonts.ts
Due: next lint --fix, prettier --write

chore(deps): Fix vulnerability
  yarn.lock
Due: none

chore(deps-dev): Remove stylelint-config-prettier
  package.json
  yarn.lock
Due: prettier --write

doc: License
  LICENSE
Due: none

chore(deps): Bump dependencies
  .stylelintrc.yml
  .tool-versions
  package.json
  yarn.lock
Due: prettier --write

refactor(lib): Remove @next/font
  lib/fonts.ts
  package.json
  yarn.lock
Due: next lint --fix, prettier --write

chore(deps): Fix engines
  package.json
Due: prettier --write

docs(post): Promise and asynchronous operation
  assets/posts/en/promise-and-asynchronous-operation.mdx
  assets/posts/ko/promise-and-asynchronous-operation.mdx
Due: none

ci(actions): Dependabot interval
  .github/dependabot.yml
Due: prettier --write

chore(deps): Bump dependencies
  .tool-versions
  package.json
  yarn.lock
Due: prettier --write

build(container): Container build
  .dockerignore
  Dockerfile
  next.config.container.js
Due: next lint --fix, prettier --write

style(format): Build script
  build.sh
Due: none

chore(version): Version 1.0.7
  package.json
Due: prettier --write

docs: README
  README.md
Due: none

feat: Migrate to app router
  app/client.tsx
  app/error.tsx
  app/global-error.tsx
  app/layout.tsx
  app/not-found.tsx
  app/page.tsx
  app/posts/[post]/client.tsx
  app/posts/[post]/page.tsx
  app/posts/client.tsx
  app/posts/page.tsx
  app/posts/page/[page]/client.tsx
  app/posts/page/[page]/page.tsx
  app/posts/tags/[[...slug]]/client.tsx
  app/posts/tags/[[...slug]]/page.tsx
  components/Author.tsx
  components/Copyright.tsx
  components/Navigation.tsx
  components/PostItem.tsx
  components/PostList.tsx
  components/SocialAccounts.tsx
  components/TagButton.tsx
  components/context/ThemeProvider.tsx
  components/layout/DefaultLayout.tsx
  components/layout/PostLayout.tsx
  components/meta/BasicMeta.tsx
  components/meta/JsonLd.tsx
  components/meta/JsonLdMeta.tsx
  components/meta/OpenGraphMeta.tsx
  components/meta/TwitterCardMeta.tsx
  components/meta/generateBaseMetadata.ts
  pages/_app.tsx
  pages/posts/[post].tsx
  pages/posts/index.tsx
  pages/posts/page/[page].tsx
  pages/posts/tags/[[...slug]].tsx
  tsconfig.json
Due: next lint --fix, prettier --write

refactor: Remove unused variables
  app/posts/[post]/client.tsx
  app/posts/page/[page]/client.tsx
  app/posts/page/[page]/page.tsx
  components/layout/PostLayout.tsx
Due: next lint --fix, prettier --write

feat: Static route
  app/posts/[post]/page.tsx
  app/posts/page/[page]/page.tsx
  app/posts/tags/[[...slug]]/page.tsx
Due: next lint --fix, prettier --write

style(format): Code cleanup
  app/page.tsx
  app/posts/[post]/page.tsx
  app/posts/page.tsx
  app/posts/page/[page]/page.tsx
  app/posts/tags/[[...slug]]/page.tsx
Due: next lint --fix, prettier --write

feat: I18n route
  app/[locale]/client.tsx
  app/[locale]/error.tsx
  app/[locale]/layout.tsx
  app/[locale]/not-found.tsx
  app/[locale]/page.tsx
  app/[locale]/posts/[post]/client.tsx
  app/[locale]/posts/[post]/page.tsx
  app/[locale]/posts/client.tsx
  app/[locale]/posts/page.tsx
  app/[locale]/posts/page/[page]/client.tsx
  app/[locale]/posts/page/[page]/page.tsx
  app/[locale]/posts/tags/[[...slug]]/client.tsx
  app/[locale]/posts/tags/[[...slug]]/page.tsx
  app/posts/page/[page]/page.tsx
  app/posts/tags/[[...slug]]/page.tsx
  components/LocaleSelector.tsx
  components/Navigation.tsx
  components/PostItem.tsx
  components/layout/PostLayout.tsx
  lib/i18n.ts
  middleware.ts
  next.config.container.js
  next.config.js
  package.json
  yarn.lock
Due: next lint --fix, prettier --write

chore(deps): Bump dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(version): Version 1.1.0
  package.json
Due: prettier --write

hotfix: Link component
  app/[locale]/not-found.tsx
  components/Navigation.tsx
  components/Pagination.tsx
  components/PostItem.tsx
  components/PostList.tsx
  components/TagButton.tsx
Due: next lint --fix, prettier --write

test(e2e): Fix assertion
  tests/e2e/homepage.spec.ts
  tsconfig.json
Due: next lint --fix, prettier --write

refactor(component): Link properties
  components/Pagination.tsx
  components/PostList.tsx
  components/TagPostList.tsx
Due: next lint --fix, prettier --write

chore(version): Version 1.1.1
  package.json
Due: prettier --write

refactor(SEO): JSON-LD
  components/meta/JsonLd.tsx
Due: next lint --fix, prettier --write

Path conditions:
  next lint --fix: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.css)) or (any of: *.{json,yml})
  stylelint --fix: any of: *.css
